.hero{
    background: rgb(179,227,218);
    background: linear-gradient(90deg, rgba(179,227,218,1) 0%, rgba(55,162,134,1) 61%);
    padding: 50px;
}


.title{
    color:white;
}

#main-content{
    padding: 5vh 0 0 0; 
}

.search-section{
    padding-left: 0;
    margin-left: 0;
}

#right-section{
    padding-left: 3vw;
}

.search-section form input{
    min-width: 100%;
}

h1, h2, h3, h5{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

h1{
    font-size: x-large;
    font-style: oblique;
}

h2{
    font-size: large;
}

h5{
    font-style: bold;
   
}


.card-content{
    background-color: rgba(55,162,134,1);
    margin: 0.5vw;
    display:block;
    flex-wrap: wrap;
    color:white;
}

.card{
    padding: 2vh;
}

.flex{
    display:flex;
    align-items:flex-end;
}

#today-date{
    padding-left:5px;
}

.success{
    background-color: rgba(55,162,134,1);
    color: white;
    padding: 0 1vw;
}

.warning{
    background-color: tan;
    color: white;
    padding: 0 1vw;
}

.danger{
    background-color:red;
    color: white;
    padding: 0 1vw;
}